body {
    font-family: monospace;
    font-size: large;
    color: white;
    background-color: #3e3e3e;
}


.menu {
    height: 2em;
}

.container {
    text-align: center;
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .container {
        width: 80%;
    }
}

#size-input {
    width: 3em;
    text-align: center;
}

table {
    border-spacing: 0;
    margin: auto;
}

tr, td {
    aspect-ratio: 1/ 1;
    border: 1px solid;
    border-color: gray;
    border-spacing: 0;
    height: 2em;
    width: 2em;
}

.num-cell {
    width: 6em;
    border: 0;
    text-align: right;
    padding-right: 1em;
    white-space: nowrap;
}

tr:first-child td {
    width: 2em;
    height: 6em;
    text-align: center;
    padding-right: 0em;
}

.full-cell {
    background-color: black;
}

.empty-cell {
    background-color: white;
}

.cross-cell {
    background-color: pink;
}